@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #D2D7D5;
    font-family: 'Oswald', sans-serif;
} 
.main-container {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-content: center;
    width: 40vh;
    height: 56vh;
    padding: 15px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 10px;
}

.output {
    grid-column:span 4;
    /* padding-right: 15px; */
    padding: 7px;
    text-align: right;
    margin-bottom: 15px;
    border: 2.5px solid black;
    border-radius: 7px;
    font-size: 1em;
}

.previous-operation {
    font-size: .7em;
}

.grid-container button {
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    margin: 5px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .4s;
    outline: none;
}


.number {
    background-color: #D2D7D5;
}
.number:hover {
    background-color: #BDC2C0;
}
.operation {
    background-color: #292929;
    color: #ffffff;
}

.operation:hover {
    background-color: #000000; 
}

.clear {
    background-color: #F80401;
    color: #ffffff;
}

.clear:hover {
    background-color: #c70300;
}

