@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root {
    --background-color: #f1faee;
    --numbers-color: #a8dadc;
    --operators-color: #457b9d;
    --clear-color: #e63946;
    --other-color: #1d3557;
}
body {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Oswald', sans-serif;
} 

.main-container {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-content: center;
    width: 40vh;
    height:60vh;
    padding: 10px;
    margin: 50 auto;
    border-radius: 10px;
    border: 3.7px solid #000000;

}

.output {
    grid-column:span 4;
    min-height: 80%;
    padding-right: 3px;
    text-align: right;
    margin-bottom: 25px;
    border: 2.5px solid black;
    border-radius: 7px;
    font-size: 1em;  
    overflow: hidden;
}

.previous-operation {
    font-size: .7em;
}

.grid-container button {
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    margin: 5px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .4s;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}


.number {
    background-color: var(--numbers-color);
}
.number:hover {
    filter:brightness(80%);
}
.operation {
    background-color: var(--operators-color);
    color: #ffffff;
}

.operation:hover {
    filter:brightness(75%);
}

.clear-all,.delete {
    background-color: var(--clear-color);
    color: #ffffff;
}
.clear-all {
    grid-column: span 2;
}

.clear-all:hover ,.delete:hover{
    filter:brightness(80%);
}


.dot , .equals{  
    background-color: var(--other-color);
    color: #ffffff;
 }

 .dot:hover {
     filter:brightness(60%)
 }

 .equals{
    grid-column: span 2;
}

